{%- include snippets/get-article-title.html article=include.article-%}
{%- assign _article_title = __return -%}

{%- if include.html != false -%}

  {%- include snippets/assign.html
    target=site.data.variables.default.page.show_title
    source0=layout.show_title source1=include.article.show_title -%}
  {%- assign _show_title = __return -%}

  {%- include snippets/assign.html
    target=site.data.variables.default.page.show_edit_on_github
    source0=layout.show_edit_on_github source1=include.article.show_edit_on_github -%}
  {%- assign _show_edit_on_github = __return -%}

  {%- if _show_title or _show_edit_on_github -%}
    <div class="article__header">
      {%- if _show_title -%}
        <header><h1>{{ _article_title }}</h1></header>
      {%- endif -%}
    </div>
  {%- else -%}
    <header style="display:none;"><h1>{{ _article_title }}</h1></header>
  {%- endif -%}
{%- endif -%}

{%- if include.semantic != false -%}
  <meta itemprop="headline" content="{{ _article_title }}">
{%- endif -%}
