$highlight-background   : #1d1f21;
$highlight-foreground   : #d2d8d4;
$highlight-comment      : #969896;
$highlight-red          : #c92f2f; //#c66;
$highlight-orange       : #da8040; //#de935f;
$highlight-yellow       : #e6b960; //#f0c674;
$highlight-green        : #a7b42e; //#b5bd68;
$highlight-aqua         : #50beb2; //#8abeb7;
$highlight-blue         : #6ca4d4; //#81a2be;
$highlight-purple       : #996da7; //#b294bb;